{% extends "capstone/layout.html" %}

{% block body %}
<script>
    // funtion to get cookies
    function get_cookie(name){
            const value = `; ${document.cookie}`;
            const info = value.split(`; ${name}=`);
            if(info.length == 2) return info.pop().split(';').shift();
        }
             
</script>

<form action="{% url 'view category' %}" method="POST" class="my-5">
    {% csrf_token %}
    <label for="category">Category:</label>
        <select name="category" id="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
    <button type="submit" class="btn btn-warning">Select Category</button>
</form>

<h2 class="mx-3 my-2">Songs</h2>
    {% if user.is_authenticated %}
        <div class="all-song mx-3 my-2">
            {% for song in all_songs %}
                <div class="card mx-2" style="width: 20rem;">
                    <img class="card-img-top" src="{{ song.image }}" alt="{{ song.title }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ song.title }}</h3>
                        <h2 class="card-text">{{ song.artist }}</h2>
                        <a href="{% url 'song' id=song.id %}" class="btn btn-primary">View Details</a>   
                    </div>           
                </div>
            {% endfor %}
            {% for song in songs %}
                <div class="card mx-2" style="width: 20rem;">
                    <img class="card-img-top" src="{{ song.image }}" alt="{{ song.title }}">
                    <div class="card-body">
                        <h3 class="card-title">{{ song.title }}</h3>
                        <h2 class="card-text">{{ song.artist }}</h2>
                        <a href="{% url 'song' id=song.id %}" class="btn btn-primary">View Details</a>   
                    </div>           
                </div>
            {% endfor %}
    {% endif %}

    <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
            {% if page_songs.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_songs.previous_page_number }}">Previous Page</a></li>
            {% endif %}
            {% if page_songs.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_songs.next_page_number }}">Next Page</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}