{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <h3>Edit Entry</h3>

    <form action="{% url 'save' %}" method="POST">
        {% csrf_token %}
        <label>Title:</label>
        <input type="text" name="title" placeholder="Entry Title" value="{{ title }}">
        <br/>
        <label>Content:</label>
        <br/>
        <textarea name="content">{{ content }}</textarea>
        <br/>
        <input type="submit" value="Edit Page" class="btn btn-warning">
        
    </form>

{% endblock %}